
.slidev-layout {
    figure {
    text-align: center;
       height: 100%; 
        img {
            margin: auto;
            object-fit: contain;
            height: inherit;
        }

        figcaption {
            font-size: 0.6em;
            padding-block: 0.5em;
        }
    }

}